<!DOCTYPE html>
<html>
<head>
    <title>{{ title }} - Testing</title>
</head>
<body>
    <div>
        Temp:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('list') }}">List</a>
    </div>

    <div>
        {% for entry in entries %}
            <h3>{{ entry.title }}</h3>
        {% endfor %}
    </div>

    <button onclick="document.getElementById('temp').innerHTML = findDefinition()">
        Click to display definition
    </button>

    <p id="temp"></p>

    <script>
        function getSelectionText() {
            var text = "";
            if (window.getSelection) {
                text = window.getSelection().toString();
            } else if (document.selection && document.selection.type != "Control") {
                text = document.selection.createRange().text;
            }
            return text;
        }

        function findDefinition() {
            var list = document.getElementsByTagName("h3");
            for (i = 0; i < list.length; i++) {
                if (getSelectionText() == list[i].innerHTML) {
                    return getSelectionText();
                }
            }
            return "No definition available";
        }
    </script>
</body>
</html>