<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="https://pbs.twimg.com/profile_images/1061909409067089920/ithqBuxm_400x400.jpg">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>{{ title }} - Testing</title>
</head>
<body id="body">
    <div>
        Temp:
        <a href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('popup') }}">Popup</a>
    </div>

    <div id="terms">
        {% for entry in entries %}
            <h3>{{ entry.title }}</h3>
        {% endfor %}
        <p>Random</p>
    </div>

    {% include "_modal.html" %}

    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
</body>
</html>